
@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>
<div class="text-black-50">
    <form type="post">
		<label>ID</label>
        <input type="number" name="id" />
        <button type="submit">Deletar</button>
    </form>
</div>
<p>@ViewData["Message"]</p>

